{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PokeVault</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <a href="/" class="header-title">⚡ PokeVault</a>
      <nav>
        <a href="{% url 'card-index' %}">All Cards</a>
        <a href="{% url 'card-create' %}">Add a Card</a>
        <a href="{% url 'about' %}">About</a>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>